Author: Isaac Moore

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_excel('/Users/isaacmoore/Desktop/la-homeless-data/data/HC2016_Total_Counts_by_Census_Tract_LA_CoC_07132016.xlsx', sheetname='Data')
data.head()

,censusTract,Year,City,CommunityName,Detailed_Name,SPA,SD,CD,SSD,AD,...,totShYouthSingYouth,totSHYouthFamHH,totShYouthFamMemb,totShYouthUnaccYouth,totUnsheltPeople,totESPeople,totTHPeople,totSHPeople,totSheltPeople,totPeople
0,221500,2016,Los Angeles,Adams,Empowerment Congress North NC,6,2,8,30,53,...,0,0,0,0,18,0,0,0,0,18
1,221601,2016,Los Angeles,Adams,Empowerment Congress North NC,6,2,8,30,53,...,0,0,0,0,21,0,0,0,0,21
2,221710,2016,Los Angeles,Adams,Empowerment Congress North NC,6,1,8,30,59,...,0,0,0,0,18,0,0,0,0,18
3,221810,2016,Los Angeles,Adams,Empowerment Congress North NC,6,2,8,30,59,...,0,0,0,0,30,0,0,0,0,30
4,221820,2016,Los Angeles,Adams,Empowerment Congress North NC,6,2,9,30,59,...,0,0,0,0,11,0,0,0,0,11

In [4]:
df = data.copy()

In [8]:
df.dtypes

censusTract              int64
Year                     int64
City                    object
CommunityName           object
Detailed_Name           object
SPA                      int64
SD                       int64
CD                       int64
SSD                      int64
AD                       int64
DemogSurveySample       object
YouthCountSample        object
totStreetSingAdult       int64
totStreetFamHH           int64
totStreetFamMemb         int64
totCars                  int64
totVans                  int64
totCampers               int64
totTents                 int64
totEncamp                int64
totCarPeople             int64
totVanPeople             int64
totCamperPeople          int64
totTentPeople            int64
totEncampPeople          int64
totYouthIndiv            int64
totYouthUnaccKid         int64
totYouthFamHH            int64
totYouthFamMemb          int64
totEsAdultSingAdult      int64
totESAdultFamHH          int64
totEsAdultFamMemb        int64
totEsYouthSingYouth      int64
totESYouthFamHH          int64
totEsYouthFamMemb        int64
totEsYouthUnaccYouth     int64
totThAdultSingAdult      int64
totTHAdultFamHH          int64
totThAdultFamMemb        int64
totThYouthSingYouth      int64
totTHYouthFamHH          int64
totThYouthFamMemb        int64
totThYouthUnaccYouth     int64
totShAdultSingAdult      int64
totSHAdultFamHH          int64
totShAdultFamMemb        int64
totShYouthSingYouth      int64
totSHYouthFamHH          int64
totShYouthFamMemb        int64
totShYouthUnaccYouth     int64
totUnsheltPeople         int64
totESPeople              int64
totTHPeople              int64
totSHPeople              int64
totSheltPeople           int64
totPeople                int64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2155 entries, 0 to 2154
Data columns (total 56 columns):
censusTract             2155 non-null int64
Year                    2155 non-null int64
City                    2155 non-null object
CommunityName           2155 non-null object
Detailed_Name           2155 non-null object
SPA                     2155 non-null int64
SD                      2155 non-null int64
CD                      2155 non-null int64
SSD                     2155 non-null int64
AD                      2155 non-null int64
DemogSurveySample       2155 non-null object
YouthCountSample        2155 non-null object
totStreetSingAdult      2155 non-null int64
totStreetFamHH          2155 non-null int64
totStreetFamMemb        2155 non-null int64
totCars                 2155 non-null int64
totVans                 2155 non-null int64
totCampers              2155 non-null int64
totTents                2155 non-null int64
totEncamp               2155 non-null int64
totCarPeople            2155 non-null int64
totVanPeople            2155 non-null int64
totCamperPeople         2155 non-null int64
totTentPeople           2155 non-null int64
totEncampPeople         2155 non-null int64
totYouthIndiv           2155 non-null int64
totYouthUnaccKid        2155 non-null int64
totYouthFamHH           2155 non-null int64
totYouthFamMemb         2155 non-null int64
totEsAdultSingAdult     2155 non-null int64
totESAdultFamHH         2155 non-null int64
totEsAdultFamMemb       2155 non-null int64
totEsYouthSingYouth     2155 non-null int64
totESYouthFamHH         2155 non-null int64
totEsYouthFamMemb       2155 non-null int64
totEsYouthUnaccYouth    2155 non-null int64
totThAdultSingAdult     2155 non-null int64
totTHAdultFamHH         2155 non-null int64
totThAdultFamMemb       2155 non-null int64
totThYouthSingYouth     2155 non-null int64
totTHYouthFamHH         2155 non-null int64
totThYouthFamMemb       2155 non-null int64
totThYouthUnaccYouth    2155 non-null int64
totShAdultSingAdult     2155 non-null int64
totSHAdultFamHH         2155 non-null int64
totShAdultFamMemb       2155 non-null int64
totShYouthSingYouth     2155 non-null int64
totSHYouthFamHH         2155 non-null int64
totShYouthFamMemb       2155 non-null int64
totShYouthUnaccYouth    2155 non-null int64
totUnsheltPeople        2155 non-null int64
totESPeople             2155 non-null int64
totTHPeople             2155 non-null int64
totSHPeople             2155 non-null int64
totSheltPeople          2155 non-null int64
totPeople               2155 non-null int64
dtypes: int64(51), object(5)
memory usage: 959.6+ KB

In [11]:
df.City.value_counts()

Los Angeles                                993
Santa Clarita                               44
Torrance                                    31
Pomona                                      30
Lancaster                                   29
Palmdale                                    29
East Los Angeles                            28
Inglewood                                   27
El Monte                                    25
West Covina                                 25
Burbank                                     24
Compton                                     23
Downey                                      22
South Gate                                  22
Norwalk                                     21
Alhambra                                    20
Unincorporated Antelope Valley              19
Carson                                      19
Santa Monica                                19
Whittier                                    18
Bellflower                                  18
Huntington Park                             18
Lakewood                                    18
Hawthorne                                   17
Baldwin Park                                16
Montebello                                  15
Glendora                                    14
Monterey Park                               14
Gardena                                     14
Redondo Beach                               13
                                          ...
Citrus                                       2
La Habra Heights                             2
View Park-Windsor Hills                      2
Santa Susana Mountains                       1
Rolling Hills                                1
Unincorporated Channel Islands               1
Whittier Narrows                             1
East Pasadena                                1
San Pasqual                                  1
Unincorporated Calabasas                     1
Unincorporated Lynwood                       1
Unincorporated Monrovia                      1
Agua Dulce                                   1
Unincorporated Diamond Bar                   1
Avalon                                       1
South San Gabriel                            1
Unincorporated Pomona                        1
Unincorporated Westlake Village              1
Unincorporated Covina                        1
Calabasas                                    1
Bradbury                                     1
Ladera Heights                               1
Unincorporated Lancaster                     1
US Department of Affairs West LA Campus      1
Vernon                                       1
Universal City                               1
Topanga                                      1
Westlake Village                             1
Vincent                                      1
Irwindale                                    1
Name: City, dtype: int64

In [ ]:
df.

In [21]:
df.groupby('City').totPeople.count()

144